<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SciSphere</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/images/top_logo.png">
<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
<!-- Styles -->
<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"  />
</head>
<body>
{% load i18n %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1>{% trans "Password changed" %}</h1>
  </div>
<p>
	{% trans "Password changed" %}
</p>
<p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
</div>
{% endblock %}
<!-- -->
</body>
</html>
