<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SciSphere</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/images/top_logo.png">
<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
<!-- Styles -->
<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"  />
<script type="text/javascript" src="/static/js/1.9.1-jquery.min.js"></script><!-- Main Library js-->
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script><!-- Main Library js-->
<script type="text/javascript" src="/static/js/bootstrap.js"></script><!-- Bootstrap js-->
<script type="text/javascript" src="/static/js/jquery-selectify.js"></script>
<script type="text/javascript" src="/static/js/jquery.passstrength.js"></script>
<script type="text/javascript" src="/static/js/jquery.floatScroll.js"></script>
<script src="/static/js/bootbox.js"></script>
<script>
function changePassword(){
	if(document.getElementById('id_new_password1').value.length < 7){
		bootbox.alert("New Password should atleast have 6 characters.");
		return false;
	}
	if(document.getElementById('id_new_password2').value.length < 7){
		bootbox.alert("Confirm Password should atleast have 6 characters.");
		return false;
	}
	if(document.getElementById('id_new_password1').value != document.getElementById('id_new_password2').value){
		bootbox.alert("You must type the same password each time.");
		return false;
	}
	document.getElementById('id_submit').click();
}
</script>
<style>
.span8 {
	width: 620px;
}
.row {
	margin-left: 0px;
}
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border: 1px solid rgba(0,0,0,0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
table {
	margin: 1em 0;
	clear: both;
}
td, th {
	padding: 3px 9px 4px 3px;
	font-weight: normal;
}
</style>
</head>
<body>
{% load i18n %}
{% block content %}
<div class="container">
<section id="password-change">
  <div class="page-header">
    <h1>{% trans "Change Password" %}</h1>
  </div>

  <div class="row">
    <div class="span8">
      <form class="well" method="post" action=".">
        {% csrf_token %}
        <table>
	   <tr>
	      <td>Old password</td>
	      <td>{{form.old_password.errors}}<input id="id_old_password" name="old_password" type="password"></td>
	   </tr>
	   <tr>
	      <td>New password</td>
	      <td>{{form.new_password1.errors}}<input id="id_new_password1" name="new_password1" type="password"></td>
	   </tr>
	   <tr>
	      <td>Confirm password</td>
	      <td>{{form.new_password2.errors}}<input id="id_new_password2" name="new_password2" type="password"></td>
	   </tr>
	   <tr>
	      <td>&nbsp;</td>
	      <!--<td><input type="submit" class="btn large btn-primary" value="{% trans 'Change Password' %}" /></td>-->
              <td>
		<input type="button" class="btn large btn-primary" value="Change Password" onclick="changePassword();"/>
		<input type="submit" class="btn large btn-primary" id="id_submit" style="display:none"/>
	      </td>
	   </tr>
          <!--{{ form.as_table }}-->
        </table>
        
      </form>
    </div>
  </div>
</section>
</div>
{% endblock %}
<!-- -->
</body>
</html>
