<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SciSphere</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/images/top_logo.png">
<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
<!-- Styles -->
<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"  />
<link href="/static/css/custom.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="/static/css/jquery.selectBoxIt.css" rel="stylesheet" />
<!-- Scripts -->
<script type="text/javascript" src="/static/js/1.9.1-jquery.min.js"></script><!-- Main Library js-->
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script><!-- Main Library js-->
<script type="text/javascript" src="/static/js/bootstrap.js"></script><!-- Bootstrap js-->
<script type="text/javascript" src="/static/js/jquery.selectBoxIt.js"></script>

<script src="/static/js/d3.v2.min.js"></script>
<script type="text/javascript" src="/static/js/underscore-min.js"></script>
<script src="/static/js/bootbox.js"></script>

<script type="text/javascript">
$(document).ready(function () {
	$('.custom_selectbox').selectBoxIt({ defaultText: '', autoWidth: false });
});
</script>
<script type="text/javascript">
$(document).ready(function(e) {
    $('.user-menu').slideUp(0);
    $('#drop-icon').click( function(event){
        event.stopPropagation();
        $('.user-menu').slideToggle(200);
    });
    $(document).click( function(){
        $('.user-menu').slideUp(100);
    });
});

var level0Id,level1Value;
window.onload=function(){
	var level1Id = document.getElementById('level1Id');
	level0Id = {{country}};
	level1Value = {{state}};
	var url="/app/subscription_free?level0id="+level0Id+"&level1id="+level1Value+"";
 	d3.json(url,function(data){
	d3.json("/app/scisphere/places/countries" , function(data) {
		var cid = data.filter(function (el) {
		  return el.id_0 == level0Id;
		});
		
		if(cid.length == 0){
			level0Id = 356;
		}
		
		d3.json("/app/scisphere/places/countrydetail?level0="+level0Id+"" , function(data) {
			var level1Data = data.level1;
			$('#level1Id').html("");
			var optlevel1 = document.createElement('option');
			optlevel1.innerHTML = "Select State";
			optlevel1.value = 0;
			level1Id.appendChild(optlevel1);

			for(var key in level1Data) {
				if(key == level0Id){
					//sorting
					var level1list = level1Data[key];
					var sortable = [];
					for (var vehicle in level1list)
					      sortable.push([vehicle, level1list[vehicle]])
					sortable.sort(function(a,b) { return d3.ascending(a[1],b[1]); });
					//sorting
					for(var i=0;i<sortable.length;i++){
						var optlevel1 = document.createElement('option');
						var valCh = sortable[i][1];
						var valCam = valCh.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
						optlevel1.innerHTML = valCam;
						optlevel1.value = sortable[i][0];
						level1Id.appendChild(optlevel1);
					}
				break;
				}
			}
			document.getElementById('level1Id').value = level1Value;
			$("#level1Id").data("selectBox-selectBoxIt").add();


		});
	});
	});
}


function continueTo(){
	var level1Id = document.getElementById('level1Id').value;
	if(level1Id == 0){
		bootbox.alert("A State must be selected for this operation. Please select a State.");
		return false;
	}
	var url="/app/subscription_free?level0id="+level0Id+"&level1id="+level1Id+"";
	d3.json(url,function(data){
		if(data['result'] == "Success"){
			window.location="/app/region_explorer#field=IND_PCA_01&level=2&level0="+level0Id+"&level1="+level1Id+"&year=2011";
		}else{
			bootbox.alert(data['result']);
		}
	});
}


</script>
</head>

<body>
<header class="navbar header">
  <div class="container">
    <div class="navbar-header"> <a href="#" class="" title="logo"><img src="/static/images/logo.png"  alt="logo"/></a> </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav menu" id="menu">
        <li><a href="#" title="Upload"><span class="menu-icon" id="menu-up"></span>Upload</a></li>
        <li><a href="#" title="Explore"><span class="menu-icon" id="menu-exp"></span>Explore</a></li>
        <li><a href="#" title="Analyze"><span class="menu-icon" id="menu-ana"></span>Analyze</a></li>
        <li class="current"><a href="#" title="MySphere"><span class="menu-icon" id="menu-mys"></span>MySphere</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right account-sec">
        <li><a href="#" id="settings" title="Settings"></a></li>
        <li>{% if user %}<div id="fullname" style="margin-top:23px;">{{user}}</div>{% endif %}</li>
        <!--<li><a href="#" id="user-image" title="User"><img src="/static/images/user-icon.jpg" /></a></li>-->
        <li class="dropdown" > <span class="menu-icon" id="drop-icon"></span>
          <div class="user-menu"> <span class="menu-arrow"></span>
            <ul>
              <li><a href="/app/upgrade_account" title="Change Plan"><span class="usermenu-icon" id="change-plan"></span>Change Plan</a></li>
              <!--<li><a href="#" title="Profile Setting"><span class="usermenu-icon" id="pro-setting"></span>Profile Setting</a></li>-->
              <li><a href="#" title="Change Password"><span class="usermenu-icon" id="change-pwd"></span>Change Password</a></li>
              <!--<li><a href="#" title="Help Center"><span class="usermenu-icon" id="helpcenter"></span>Help Center</a></li>-->
              <li><a href="{% url 'auth_logout' %}" title="Logout" class="logout">Log Out</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Secondary Header -->
<header class="navbar sub-header">
  <div class="container "> </div>
</header>
<div class="body-sec innerpage-body" >
  <div class="container" id="welcome-body">
    <h3 class="signup-heading"><span class="signup-subheading">Welcome to </span>SciSphere!</h3>
    <p class="welcome-content">Your free account is not time bound and allows you to explore and visualize  three demographic <br />
      variables for one State of your choice.</p>
    <form name="welcome-form" method="post" class="welcome-form">
      <div class="select-wrap1" style="width:250px;">
	 <h5>Select State</h5>
        <select class="custom_selectbox" id="level1Id" >
          <option value="0">Loading Data...</option>
        </select>
      </div>
    </form>
    <p class="welcome-content">To get access to more States and Variables. <a href="/app/upgrade_account" class="upgrade-text">Upgrade Now.</a></p>
    <div class="form-button-wrap">
      <label class="welcome-or-text"> Or </label>
      <button type="button" class="btn btn-primary btn-red" data-toggle="button" style="margin-right:15px; width:210px;" onclick="continueTo();">CONTINUE TO FREE VERSION</button>
    </div>
  </div>
</div>
<!-- -->
{% include "footer.html" %}  
<!-- -->

</body>
</html>
