
<!-- -->
<div class="main">
    <!-- Footer Section -->
    <footer class="footer-sec">
    	<div class="container">
         	<div class="footer-link-sec">
            	<!--a href="/upload">Upload</a>|<a href="region_explorer">Explore</a>|<a >Analyze</a>|<a href="/mysphere">Mysphere</a>|<a href="/snapshot">Snapshot</a>|<a href="/region_explorer">Region</a>|<a href="/filters_layers">Filter</a-->
            </div>
            <div class="footer-copy-sec">
            	<span>&copy; 2014 SciSphere. All Rights Reserved.</span>
            </div>
        </div>
    </footer>
</div>
<!-- -->

