
<!-- -->
<div class="home-footersec">
  <div class="container">
    <div class="col-lg-12">
    	<p class="footer-content pull-left">
        	<a href="/dataset.html?tag=1" title="Datasets">Datasets</a>  &nbsp; | &nbsp;
            <a href="/pricing.html" title="Pricing">Pricing</a>  &nbsp; | &nbsp;
            <a href="/demos.html" title="Demos">Demos</a>  &nbsp; | &nbsp;
            <a href="/labs.html" title="Labs">Labs</a>  &nbsp; | &nbsp;
            <a href="#" title="Blog">Blog</a>  &nbsp; | &nbsp;
            <a href="/app/contact" title="Contact">Contact</a>  &nbsp; | &nbsp;
            <a href="/about.html" title="About">About</a>
        </p>
        <p class="footer-content pull-right">
        	<span class="copyright-text">&copy; Copyright 2014 Scisphere, inc. All rights reserved.</span>
        </p>
      </div>
  </div>
</div>
<!-- -->

