
<!-- -->
  <!-- Secondary Header -->
  <header class="navbar sub-header">
    <div class="container ">
      <div class="submenu-sec">
        <div class="sub-menu"><a href="{% url 'snapshot' %}" title="Snapshot"> <span class="submenu-icon" id="submenu-snap"></span> <span class="submneu-con">Snapshot</span> </a></div>
        <div class="sub-menu"><a href="{% url 'region_explorer' %}" title="Region" class="active"> <span class="submenu-icon" id="submenu-region"></span> <span class="submneu-con">Region</span> <span class="submenu-arrow"></span></a></div>
        <div class="sub-menu"><a href="{% url 'filters_layers' %}" title="Filter"> <span class="submenu-icon" id="submenu-filter"></span> <span class="submneu-con">Filter</span> <span class="submenu-arrow"></span></a></div>
      </div>
    </div>
  </header>
<!-- -->

