{% extends "pin_base.html" %}
{% block yield %}

{% load taggit_extras %}

{% if forvar %}
{% get_taglist as tags for forvar %}
{% else %}
{% get_taglist as tags %}
{% endif %}

    <div style="width:200px; float:right;" > 
    <ul>
     {% for tag in tags %}
      <li><font size={{tag.weight|floatformat:0}}><a href="/pins/tag/{{tag}}">{{tag}}</a></font> </li>
     {% endfor %}
     </ul>
    </div>

    <div id="pins" style="padding-right:150px;"></div>
    <div class="spinner"></div>
{% endblock %}

