<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Scisphere</title>
<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
<!-- Styles -->
<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"  />
<link href="/static/css/custom-new.css" rel="stylesheet" type="text/css" />
<!-- Scripts -->
<script type="text/javascript" src="/static/js/1.9.1-jquery.min.js"></script><!-- Main Library js-->
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script><!-- Main Library js-->
<script type="text/javascript" src="/static/js/bootstrap.js"></script><!-- Bootstrap js-->
<script type="text/javascript" src="/static/js/multi-select.js" ></script>
<script type="text/javascript" src="/static/js/fancyfields-1.2.min.js" ></script>
<script type='text/javascript' src="/static/js/jquery.jqpagination.js"></script><!-- Pagination -->
<script type="text/javascript">
$(document).ready(function () {
	$('.multiselect').multiSelect({
		selectableHeader : '<div class=selated_list>All States</div>',
		selectedHeader : '<div class=selated_list>Selected States</div>'
	});
	$(".check-fields").fancyfields();
	/*-- Accordian --*/
	$('#innerpage-accordion li div.head-wrap').click(function(e) {
		if($(this).hasClass('acc-listact')){
			$(this).removeClass('acc-listact');
		}else{
			$('#innerpage-accordion li div.head-wrap').removeClass('acc-listact');
			$(this).addClass('acc-listact');
		}
    });
	/*-- Pagination start --*/
	$('.pagination').jqPagination({
		link_string	: '/?page={page_number}',
		max_page	: 100,
		paged		: function(page) {
			$('.log').prepend('<li>Requested page ' + page + '</li>');
		}
	});
	/*-- Pagination end--*/
});
</script>
<script type="text/javascript">
$(document).ready(function(e) {
	$('.user-menu').slideUp(0);
    $('.menu-icon').click( function(event){
        event.stopPropagation();
        $('.user-menu').slideToggle(200);
    });
    $(document).click( function(){
        $('.user-menu').slideUp(100);
    });
});
</script>
</head>
<body>
<header class="navbar header">
  <div class="container">
    <div class="navbar-header"> <a href="#" class="" title="logo"><img src="/static/images/logo.jpg"  alt="logo"/></a> </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav menu" id="menu">
        <li><a href="#" title="Upload"><span class="menu-icon" id="menu-up"></span>Upload</a></li>
        <li><a href="#" title="Explore"><span class="menu-icon" id="menu-exp"></span>Explore</a></li>
        <li><a href="#" title="Analyze"><span class="menu-icon" id="menu-ana"></span>Analyze</a></li>
        <li class="current"><a href="#" title="MySphere"><span class="menu-icon" id="menu-mys"></span>MySphere</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right account-sec">
        <li><a href="#" id="settings" title="Settings"></a></li>
        <li><a href="#" id="user-image" title="User"><img src="/static/images/user-icon.jpg" /></a></li>
        <li class="dropdown" > <span class="menu-icon" id="drop-icon"></span>
          <div class="user-menu"> <span class="menu-arrow"></span>
            <ul>
              <li><a href="#" title="Change Plan"><span class="usermenu-icon" id="change-plan"></span>Change Plan</a></li>
              <li><a href="#" title="Profile Setting"><span class="usermenu-icon" id="pro-setting"></span>Profile Setting</a></li>
              <li><a href="#" title="Change Password"><span class="usermenu-icon" id="change-pwd"></span>Change Password</a></li>
              <li><a href="#" title="Help Center"><span class="usermenu-icon" id="helpcenter"></span>Help Center</a></li>
              <li><a href="{% url 'auth_logout' %}" title="Logout" class="logout">Log Out</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Secondary Header -->
<header class="navbar sub-header" style="margin:0;">
  <div class="container ">
</header>
{% block content %}
{% if request.user.is_superuser %}
{% if msg %}
<div class="row">
    <div class="span12">
        <div class="alert alert-block {{ message.type }} fade in">
            <a class="close" href="#" data-dismiss="alert">×</a>
            <p>{{ msg }}</p>
        </div>
    </div>
</div>
{% endif %}
<br>
<div class="container">
      <form method="post" action="" >
	<table width="30%" align="center" cellpadding="0" cellspacing="0" class="signup-table">
		<tr><td colspan="2" align="center"><h2>Create new client</h2></td></tr>
		<tr>
			<td>User Name</td>
			<td>
				<select name="userName" id="idUsername" class="text-field selectbox">
				<option value="">[SELECT]</option>
				{% for user in user_list %}
				<option value="{{ user }}">{{ user }}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Client Name </td>
			<td><input type="text" name="clientName" id="IdClientNmae" placeholder="Title" class="text-field"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" class="btn btn-primary btn-red" value="Create Client" /></td></tr>
	</table>
      </form>
<div style="height:400px"></div>
</div>
{% endif %}
{% endblock %}
<!-- Footer Section -->
<div class="home-footersec">
  <div class="container">
    <div class="col-lg-3">
      <h4 class="footer-heading">Contact</h4>
      <p class="address">Lorem ipsum is and asas<br />
        typesetting industry simly printing<br />
        Loem ipsum has been the </p>
      <a class="footer-link" href="info@scisphere.com" title="info@scisphere">info@scisphere.com</a> </div>
    <div class="col-lg-9">
      <h4 class="footer-heading">Quik Links</h4>
      <a class="footer-link" href="#" title="About">About</a><br />
      <a class="footer-link" href="#" title="Watch Demo">Watch Demo</a><br />
      <a class="footer-link" href="#" title=Pricing"">Pricing</a><br />
      <a class="footer-link" href="#" title="Datasets">Datasets</a> </div>
  </div>
</div>
<div class="copyright-sec">
  <div class="container">
    <div class="col-lg-6">
      <div class=" pull-left"> <a class="copyright-link" href="#" title="Term &amp; Condition">Term &amp; Condition </a>| <a class="copyright-link" href="#" title="Sitemap">Sitemap</a> </div>
    </div>
    <div class="col-lg-6"> <span class="copyright-text pull-right">&copy;2014 Scisphere. All right reserved.</span> </div>
  </div>
</div>
<!-- -->

</body>
</html>
