{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
<h2>Context Variables</h2>
<table class="table table-bordered table-striped forms-table" width="100%">
   <tr>
	<td width="3%">1</td>
	<td width="47%">10km Cluster Population</td>
	<td width="3%">10</td>
	<td width="47%">Household</td>
   </tr>
   <tr>
	<td>2</td>
	<td>15 km Cluster Population</td>
	<td>11</td>
	<td>Household 10km</td>
   </tr>
   <tr>
	<td>3</td>
	<td>Agriculture Ratio</td>
	<td>12</td>
	<td>Household 5km</td>
   </tr>
   <tr>
	<td>4</td>
	<td>Agriculture Ratio 10km</td>
	<td>13</td>
      	<td>Industrial Worker Ratio</td>
   </tr>
   <tr>
	<td>5</td>
	<td>Agriculture Ratio 5km</td>
	<td>14</td>
   	<td>Industrial Worker Ratio 10Km</td>
   </tr>
   <tr>
	<td>6</td>
	<td>Decadal Industrialization</td>
	<td>15</td>
   	<td>Literacy Population Ratio 10Km</td>
   </tr>
   <tr>
	<td>7</td>
	<td>Decadal Industrialization 10km</td>
	<td>16</td>
   	<td>Literacy Ratio</td>
   </tr>
   <tr>
	<td>8</td>
	<td>Decadal Migration</td>
	<td>17</td>
   	<td>Population</td>
   </tr>
   <tr>
	<td>9</td>
  	<td>Decadal Migration 10km</td>
  	<td></td>
  	<td></td>
   </tr>
</table>

<table height="140px;"></table>

</div>
{% endblock %}
