<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Scisphere | Default</title>
<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
<!-- Styles -->
<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"  />
<link type="text/css" href="/static/css/custom.css" rel="stylesheet"  />
<link type="text/css" href="/static/css/jquery.selectBoxIt.css" rel="stylesheet" />
<!-- Scripts -->
<script type="text/javascript" src="/static/js/1.9.1-jquery.min.js"></script> <!-- Main Library js-->
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script> <!-- Main Library js-->
<script type="text/javascript" src="/static/js/bootstrap.js"></script> <!-- Bootstrap js-->
<script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/jquery.selectBoxIt.js"></script> 
<script type="text/javascript" src="/static/js/jquery.bxslider.js"></script> <!-- Bx Slider -->
<script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script> <!-- Mouse Wheel -->
<script type="text/javascript" src="/static/js/jquery.jscrollpane.min.js"></script> <!-- Scroll pane-->
<script type="text/javascript">
$(document).ready(function(){
   /* $("#menu").lavaLamp({fx: "backout", click: function(event, menuItem) {return false;}});*/
	$('.carousel').carousel({interval: 0});
	$('.submenu-sec').bxSlider({
		slideWidth: 130,
		minSlides: 3,
		maxSlides: 3,
		moveSlides: 1,
		pager: false
	});
	$('.scroll-pane').jScrollPane();
	$('#help').tooltip();
	$('.custom_selectbox').selectBoxIt({ defaultText: '', autoWidth: false });
	$('.popup-accordian li a').click(function(e) {
		if($(this).hasClass('acc-act')){
			$(this).removeClass('acc-act');
		}
		else{
			$('.popup-accordian li a').removeClass('acc-act');
			$(this).addClass('acc-act');
		}
    });
});
</script>
<script>
jQuery(function($) {
  $('.custom_selectbox').selectBoxIt({ defaultText: '', autoWidth: false });
});
</script>
<script type="text/javascript">
$(document).ready(function(e) {
	$('.user-menu').slideUp(0);
    $('.menu-icon').click( function(event){
        event.stopPropagation();
        $('.user-menu').slideToggle(200);
    });
    $(document).click( function(){
        $('.user-menu').slideUp(100);
    });
});
</script>
</head>
<body>
<!-- -->
<div class="main">
	<!-- Primary Header  -->
	<header class="navbar header">
    	<div class="container">
        	<div class="navbar-header">
            	<a href="#" class="" title="logo"><img src="/static/images/logo.jpg"  alt="logo"/></a>
            </div>
            <nav class="collapse navbar-collapse">
            	<ul class="nav navbar-nav menu" id="menu">
                	<li><a href="#" title="Upload"><span class="menu-icon" id="menu-up"></span>Upload</a></li>
                    <li class="current"><a href="#" title="Explore"><span class="menu-icon" id="menu-exp"></span>Explore</a></li>
                    <li><a href="#" title="Analyze"><span class="menu-icon" id="menu-ana"></span>Analyze</a></li>
                    <li><a href="#" title="MySphere"><span class="menu-icon" id="menu-mys"></span>MySphere</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right account-sec">
                	<li><a href="#" id="settings" title="Settings"></a></li>
                    <li><a href="#" id="user-image" title="User"><img src="/static/images/user-icon.jpg" /></a></li>
                    <li class="dropdown" >
                    	<span class="menu-icon" id="drop-icon"></span>
                    	<div class="user-menu">
                            <span class="menu-arrow"></span>
                            <ul>
                                <li><a href="#" title="Change Plan"><span class="usermenu-icon" id="change-plan"></span>Change Plan</a></li>
                                <li><a href="#" title="Profile Setting"><span class="usermenu-icon" id="pro-setting"></span>Profile Setting</a></li>
                                <li><a href="#" title="Change Password"><span class="usermenu-icon" id="change-pwd"></span>Change Password</a></li>
                                <li><a href="#" title="Help Center"><span class="usermenu-icon" id="helpcenter"></span>Help Center</a></li>
                                <li><a href="#" title="Logout" class="logout">Log Out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Secondary Header -->
    <header class="navbar sub-header">
    	<div class="container ">
        	<div class="submenu-sec">
            	<div class="sub-menu"><a href="#" class="active" title="Snapshot">
                	<span class="submenu-icon" id="submenu-snap"></span>
                    <span class="submneu-con">Snapshot</span>
                    </a></div>
                <div class="sub-menu"><a href="region.html" title="Region">
                	<span class="submenu-icon" id="submenu-region"></span>
                    <span class="submneu-con">Region</span>
                    <span class="submenu-arrow"></span></a></div>
                <div class="sub-menu"><a href="filter.html" title="Filter">
                	<span class="submenu-icon" id="submenu-filter"></span>
                    <span class="submneu-con">Filter</span>
                    <span class="submenu-arrow"></span></a></div>
            </div>
        </div>	
    </header>
    <div class="body-sec">
    	<div class="container">
            <!--Main body left panel -->
            <div class="col-md-2-5 left-panel">
                <div class="item-panel" id="geo-panel">
                    <h5 class="left-con-head">Geography</h5>
                    
                    <select class="custom_selectbox">
                                  <option value="">Country</option>
                                  <option value="">America</option>
                                  <option value="">Australia</option>
                                  <option value="">China</option>
                                  <option value="">India</option>
                                  <option value="">Indonesia</option>
                                  <option value="">Afghanistan</option>
                                  <option value="">Albania</option>
                                  <option value="">Algeria</option>
                                  <option value="">Andorra</option>
                                  <option value="">Angola</option>
                                  <option value="">Antigua and Barbuda</option>
                                  <option value="">Argentina</option>
                                  <option value="">Armenia</option>
                                  <option value="">Aruba</option>
                                  <option value="">Australia</option>
                                  <option value="">Austria</option>
                                  <option value="">Azerbaijan</option>
                                  <option value="">Bahamas, The</option>
                                  <option value="">Bahrain</option>
                                  <option value="">Bangladesh</option>
                                  <option value="">Barbados</option>
                                  <option value="">Belarus</option>
                                  <option value="">Belgium</option>
                                  <option value="">Belize</option>
                                  <option value="">Benin</option>
                                  <option value="">Bhutan</option>
                                  <option value="">Bolivia</option>
                                  <option value="">Bosnia and Herzegovina</option>
                                  <option value="">Botswana</option>
                                  <option value="">Brazil</option>
                                  <option value="">Brunei </option>
                                  <option value="">Bulgaria</option>
                                  <option value="">Burkina Faso</option>
                                  <option value="">Burma</option>
                                  <option value="">Burundi</option>
                    </select>
                    <select class="custom_selectbox">
                        <option value="">State</option>
                         <option value="">Andra Pradesh</option>
                                  <option value="">Arunachal Pradesh</option>
                                  <option value="">Assam</option>
                                  <option value="">Bihar</option>
                                  <option value="">Chhattisgarh</option>
                                  <option value="">Goa</option>
                                  <option value="">Gujarat</option>
                                  <option value="">Haryana</option>
                                  <option value="">Himachal Pradesh</option>
                                  <option value="">Jammu and Kashmir</option>
                                  <option value="">Jharkhand</option>
                                  <option value="">Karnataka</option>
                                  <option value="">Kerala</option>
                                  <option value="">Madya Pradesh</option>
                                  <option value="">Maharashtra</option>
                                  <option value="">Manipur</option>
                                  <option value="">Meghalaya</option>
                                  <option value="">Mizoram</option>
                                  <option value=""> Nagaland</option>
                                  <option value="">Orissa</option>
                                  <option value="">Punjab</option>
                                  <option value="">Rajasthan</option>
                                  <option value="">Sikkim</option>
                                  <option value="">Tamil Nadu</option>
                                  <option value="">Tripura</option>
                                  <option value="">Uttaranchal</option>
                                  <option value="">Uttar Pradesh</option>
                                  <option value="">West Bengal</option>
                                  <option value="">Pondicherry</option>
                    </select>
                    <select class="custom_selectbox">
                        <option value="">District</option>
                        <option value="">Chennai</option>
                                  <option value="">Kanchipuram</option>
                                  <option value="">Tiruvallur</option>
                                  <option value="">Cuddalore</option>
                                  <option value="">Villupuram</option>
                                  <option value="">Vellore</option>
                                  <option value="">Tiruvannamalai</option>
                                  <option value="">Salem</option>
                                  <option value="">Namakkal</option>
                                  <option value="">Dharmapuri</option>
                                  <option value="">Erode</option>
                                  <option value="">Coimbatore</option>
                                  <option value="">The Nilgiris</option>
                                  <option value="">Thanjavur</option>
                                  <option value="">Nagapattinam</option>
                                  <option value="">Tiruvarur</option>
                                  <option value="">Tiruchirappalli</option>
                                  <option value="">Karur</option>
                                  <option value="">Perambalur</option>
                                  <option value="">Pudukkottai</option>
                                  <option value="">Madurai</option>
                                  <option value="">Theni</option>
                                  <option value="">Dindigul</option>
                                  <option value="">Ramanathapuram</option>
                                  <option value="">Virudhunagar</option>
                                  <option value="">Sivagangai</option>
                                  <option value="">Tirunelveli</option>
                                  <option value="">Thoothukkudi</option>
                                  <option value="">Kanniyakumari</option>
                                  <option value="">Krishnagiri</option>
                                  <option value="">Ariyalur</option>
                                  <option value="">Tiruppur</option>
                    </select>
                    <select class="custom_selectbox">
                        <option value="">Taluk</option>
                        <option value="">Attur</option>
                                  <option value="">Edapady</option>
                                  <option value="">Gangavalli</option>
                                  <option value="">Mettur</option>
                                  <option value="">Omalur</option>
                                  <option value="">Salem</option>
                                  <option value="">Sangagiri</option>
                                  <option value="">Valapady</option>
                                  <option value="">Yercaud</option>
                                  <option value="">Bhavani</option>
                                  <option value="">Erode</option>
                                  <option value="">Gobichetipalayam</option>
                                  <option value="">Perundurai</option>
                                  <option value="">Sathyamangalam</option>
                                  <option value="">Annur</option>
                                  <option value="">Coimbatore(North)</option>
                                  <option value="">Coimbatore(South)</option>
                                  <option value="">Kinathukadavu</option>
                                  <option value="">Mettupalayam</option>
                                  <option value="">Polllachi</option>
                                  <option value="">Sulur</option>
                                  <option value="">Valparai</option>
                    </select>
                </div>
                <div class="item-panel" id="context-var">
                	<h5 class="left-con-head">Contextual Variables <a href="#" class="add" data-toggle="modal" data-target=".contextual-variable" title="Contextual Variables"></a></h5>
                    <!-- Pop Up Panel-->
                    <div class="modal fade contextual-variable" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span><span class="sr-only">Close</span></button><!-- Close -->
                            <div class="popup-panel">
                            	<!-- -->
                                <ul class="nav navbar-nav popup-accordian" id="accordion">
                                        <li class="panel">
                                            <a data-toggle="collapse" data-target="#pop-geo" data-parent="#accordion" href="#" class="pop-acc-title">Geography<span class="acc-arrow"></span></a>
                                            <div id="pop-geo" class="collapse pop-acc-content">
                                                <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                            </div>
                                        </li>
                                        <li class="panel">
                                            <a data-toggle="collapse" data-target="#pop-contextual" data-parent="#accordion" href="#" class="pop-acc-title acc-act">Contextual Variables<span class="acc-arrow"></span> </a>
                                            <div id="pop-contextual" class="collapse in pop-acc-content clearfix" >
                                                <div class="popup-leftpanel">
                                                	<h4 class="pop-left-head">Selected Category</h4>
                                                    <select class="custom_selectbox popup-selectbox">
                                                    	<option>Category 1</option>
                                                        <option>Category 2</option>
                                                        <option>Category 3</option>
                                                        <option>Category 4</option>
                                                        <option>Category 5</option>
                                                    </select>
                                                    <div class="variable-list-sec">
                                                        <h5 class="variable-title">Selected Variables<span>(8)</span></h5>
                                                        <table border="0" width="100%" class="variable-table">
                                                            <tr>
                                                                <td colspan="3"><span class="list-subhead">Demography</span></td>
                                                            </tr>
                                                        	<tr>
                                                            	<td width="20px">1</td>
                                                                <td>Population</td>
                                                                <td><a href="#" title="" class="item-delete"></a></td>
                                                            </tr>
                                                            <tr>
                                                            	<td>2</td>
                                                                <td>Population Density</td>
                                                                <td><a href="#" title="" class="item-delete"></a></td>
                                                            </tr>
                                                            <tr>
                                                            	<td>3</td>
                                                                <td>Bank Branch Density</td>
                                                                <td><a href="#" title="" class="item-delete"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3"><span class="list-subhead">Economic</span></td>
                                                            </tr>
                                                            <tr>
                                                            	<td>4</td>
                                                                <td>Distance to National Highway</td>
                                                                <td><a href="#" title="" class="item-delete"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3"><span class="list-subhead">Financial</span></td>
                                                            </tr>
                                                            <tr>
                                                            	<td>5</td>
                                                                <td>Km of Road/Sq.km</td>
                                                                <td><a href="#" title="" class="item-delete"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3"><span class="list-subhead">Agriculture</span></td>
                                                            </tr>
                                                            <tr>
                                                            	<td>6</td>
                                                                <td>Industrial Worker Ratio</td>
                                                                <td><a href="#" title="" class="item-delete"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3"><span class="list-subhead">Climate</span></td>
                                                            </tr>
                                                            <tr>
                                                            	<td>7</td>
                                                                <td>Decadel Industralization</td>
                                                                <td><a href="#" title="" class="item-delete"></a></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <span class="pop-leftbottom-con">you can remove a variable from the list by clicking the trash icon next to it.</span>
                                                </div>
                                                
                                                <div class="popup-rightpanel">
                                                	<div class="pop-right-title-section">
                                                    	<p>You can select a maximum of 10 variables, <a href="#" class="tot-sel" data-toggle="modal" data-target=".total-select" title="Variables">9 selected</a>.Click on a Variable to add it</p>
                                                    	<div class="input-group">
                                                          <input class="search-field" type="email" placeholder="">
                                                          <div class="input-group-addon"><input type="button"  class="search-button"/></div>
                                                        </div>
                                                        
                                                        <div class="modal fade total-select" tabindex="2" role="dialog" aria-labelledby="" aria-hidden="true">
                                                             <div class="modal-dialog modal-md">
                                                                <div class="modal-content modal-conatiner-small">
                                                                  <button type="button" class="close" data-dismiss="modal">
                                                                    <span aria-hidden="true"></span><span class="sr-only">Close</span>
                                                                  </button><!-- Close -->
                                                                  <div class="popup-small-sec">
                                                                    <p class="center-text">You can select only 10 variables at a time</p>
                                                                    <div class="button-wrap" >
                                                                        <button type="button" class="btn btn-primary btn-gray" data-toggle="button">ok</button>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="popup-right-content-sec">
                                                       <table width="100%" border="0" class="popup-table">
                                                            <tr class="odd">
                                                                <td><a href="#" title="" class="">Variable 1</a></td>
                                                                <td><a href="#" title="" class="">Variable 11</a></td>
                                                                <td><a href="#" title="" class="">Variable 21</a></td>
                                                            </tr>
                                                            <tr class="even">
                                                                <td><a href="#" title="" class="">Variable 2</a></td>
                                                                <td><a href="#" title="" class="">Variable 12</a></td>
                                                                <td><a href="#" title="" class="">Variable 22</a></td>
                                                            </tr>
                                                            <tr class="odd">
                                                                <td class="selected"><a href="#" title="" class="">Variable 3</a></td>
                                                                <td><a href="#" title="" class="">Variable 13</a></td>
                                                                <td class="selected"><a href="#" title="" class="">Variable 23</a></td>
                                                            </tr>
                                                            <tr class="even">
                                                                <td><a href="#" title="" class="">Variable 4</a></td>
                                                                <td><a href="#" title="" class="">Variable 14</a></td>
                                                                <td><a href="#" title="" class="">Variable 24</a></td>
                                                            </tr>
                                                            <tr class="odd">
                                                                <td><a href="#" title="" class="">Variable 5</a></td>
                                                                <td class="selected"><a href="#" title="" class="">Variable 15</a></td>
                                                                <td><a href="#" title="" class="">Variable 25</a></td>
                                                            </tr>
                                                            <tr class="even">
                                                                <td><a href="#" title="" class="">Variable 6</a></td>
                                                                <td class="selected"><a href="#" title="" class="">Variable 16</a></td>
                                                                <td class="selected"><a href="#" title="" class="">Variable 26</a></td>
                                                            </tr>
                                                            <tr class="odd">
                                                                <td class="selected"><a href="#" title="" class="">Variable 7</a></td>
                                                                <td><a href="#" title="" class="">Variable 17</a></td>
                                                                <td class="selected"><a href="#" title="" class="">Variable 27</a></td>
                                                            </tr>
                                                           <tr class="even">
                                                                <td class="selected"><a href="#" title="" class="">Variable 8</a></td>
                                                                <td><a href="#" title="" class="">Variable 18</a></td>
                                                                <td><a href="#" title="" class="">Variable 28</a></td>
                                                            </tr>
                                                            <tr class="odd">
                                                                <td class="selected"><a href="#" title="" class="">Variable 9</a></td>
                                                                <td><a href="#" title="" class="">Variable 19</a></td>
                                                                <td><a href="#" title="" class="">Variable 29</a></td>
                                                            </tr>
                                                            <tr class="even">
                                                                <td><a href="#" title="" class="">Variable 10</td>
                                                                <td><a href="#" title="" class="">Variable 20</td>
                                                                <td><a href="#" title="" class="">Variable 30</td>
                                                            </tr>
                                                        </table>
                                                        
                                                        
                                                    </div>
                                                    <!-- -->
                                                    <div class="pagi-wrap">
                                                    	<div class="pull-right">
                                                        	<p class="pagi-item"><!--<a href="#" class="pagi-first-enable">First</a>--><span class="pagi-first-disable">First</span></p>
                                                            <span class="pagi-item pipe">|</span>
                                                            <p class="pagi-item page-view">
                                                                <!--<a href="#" class="pagi-enable pagi-prev-enable"></a>--><span class="pagi-prev-disable"></span> 
                                                                <span class="page-text">Page  </span><span class="pagi-curr">1</span><span>/</span><span class="pagi-total">2</span>
                                                                <a href="#" class="pagi-enable pagi-next-enable"></a><!--<span class="pagi-next-disable"></span>-->
                                                            </p>
                                                            <span class="pagi-item pipe">|</span>
                                                            <p class="pagi-item"><a href="#" class="pagi-last-enable">Last</a><!--<span class="pagi-last-disable">Last</span>--></p>
                                                            <p class="pagi-item"><span class="pagi-goto">Go to</span><input type="text" class="goto-field"/> </p>
                                                        </div>
                                                    </div>
                                                    <!-- -->
                                                </div>
                                            </div>
                                        </li>
                                        <li class="panel">
                                            <a data-toggle="collapse" data-target="#pop-myvar" data-parent="#accordion" href="#" class="pop-acc-title">My Variables <span class="acc-arrow"></span></a>
                                            <div id="pop-myvar" class="collapse pop-acc-content">
                                                <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                            </div>
                                        </li>
                                    </ul>
                                     <div class="button-wrap" style="text-align:left;">
                                        <button type="button" class="btn btn-primary btn-red" data-toggle="button">Apply</button>
                                        <button type="button" class="btn btn-primary btn-gray" data-toggle="button">Cancel</button>
                                    </div>
                                <!-- -->
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- Contextual Variables List -->
                    <ul class="nav navbar-nav item-panel-list2">
                        <li><span class="list-subhead">Demography</span></li>
                        <li><a href="#" title="Population">Population</a></li>
                        <li><a href="#" title="Population Density">Population Density</a></li>
                        <li><a href="#" title="Bank Branch Density">Bank Branch Density</a></li>
                        <li><span class="list-subhead">Economic</span></li>
                        <li><a href="#" title="Distance to National Highway">Distance to National Highway</a></li>
                        <li><span class="list-subhead">Financial</span></li>
                        <li><a href="#" title="Km of Road/Sq.km">Km of Road/Sq.km</a></li>
                        <li><span class="list-subhead">Agriculture</span></li>
                        <li><a href="#" title="Industrial Worker Ratio">Industrial Worker Ratio</a></li>
                        <li><span class="list-subhead">Climate</span></li>
                        <li><a href="#" title="Decadel Industralization">Decadel Industralization</a></li>
                    </ul>
                </div>
                <div class="item-panel" id="my-var">
                	<h5 class="left-con-head">My Variables<a href="#" class="add" data-toggle="modal" data-target=".my-variable" title="My Variables"></a></h5>
                    <!-- Pop Up Panel-->
                    <div class="modal fade my-variable" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span><span class="sr-only">Close</span></button><!-- Close -->
                            <div class="popup-panel">
                            	<div class="popup-title">Lorem ipsum dolor sit amet, consectetur </div><!-- Popup Panel Title -->
                                <div class="popup-body"><!-- Popup Panel Body -->
                                	<p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                    <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                   <!-- My Variables Content -->
                    <div class="item-panel-content scroll-pane">
                    	<p>Coming Soon <br /> Upload variables from your organization to view in this framework. Upload variables from your organization to view in this framework. Upload variables from your organization to view in this framework.</p>
                    </div>
                </div>
            </div>
            <!--Main body right panel -->
            <div class="col-md-7-5 right-panel">
            	<div class="title-wrap">
                	<ol class="breadcrumb">
                      <li><a href="#">Tamilnadu</a></li>
                      <li><a href="#">Ariyalur</a></li>
                      <li class="active"><span>All Districts</span></li>
                    </ol>
                    <a href="#" class="help" data-toggle="tooltip" data-placement="left" title="Sed ut perspiciatis unde omnis iste natus error sit voluptatem " id="help"></a>
                </div>
                <h2 class="page-title">Ariyalur District, <span class="page-subtitle">Tamil Nadu</span></h2>
                <!-- Right Panel Body -->
                <div class="right-content-panel">
                	
                </div>
                <!-- Right Panel Button -->
                
            </div>
        </div>
    </div>
    <!-- Footer Section -->
    <footer class="footer-sec">
    	<div class="container">
         	<div class="footer-link-sec">
            	<a href="#">Upload</a>|<a href="#">Explore</a>|<a href="#">Analyze</a>|<a href="#">Mysphere</a>|<a href="#">Snapshot</a>|<a href="#">Region</a>|<a href="#">Filter</a>
            </div>
            <div class="footer-copy-sec">
            	<span>&copy; 2014 SciSphere. All Rights Reserved.</span>
            </div>
        </div>
    </footer>
</div>
<!-- -->
</body>
</html>


<!-- -->
<!-- -->
